.p_footer {
  padding: 1rem 2rem 3rem 2rem;
  text-align: center;

  &_button {
    cursor: pointer;
    position: relative;
    font-size: 1.6rem;
    height: 4rem;
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    background-color: #445a93;
    border-radius: 0.4rem;

    &:disabled {
      cursor: default;
    }
  }

  &_icon {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
  }
}