.p_header {
  padding: 2rem 0 2.6rem 0;
  text-align: center;
  font-size: 1.2rem;

  &_top {
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    padding-bottom: 1.6rem;
  }
}